@import 'libs.styl'
body
  background-color: transparent
h1
  color: blue
p
  font-size: 1em
  text-decoration: none
.left
  float: left
.right
  float: right
.slider-item
  background-color: #ccc
  width: 400px
  height: 200px
  padding: 20px
  margin 20px

